@model BeerCanSite.Models.BeerCan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BeerCan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BeerCanName" class="control-label"></label>
                <input asp-for="BeerCanName" class="form-control" />
                <span asp-validation-for="BeerCanName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeerBrand" class="control-label"></label>
                <input asp-for="BeerBrand" class="form-control" />
                <span asp-validation-for="BeerBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeerCanDescription" class="control-label"></label>
                <input asp-for="BeerCanDescription" class="form-control" />
                <span asp-validation-for="BeerCanDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufactureDate" class="control-label"></label>
                <input asp-for="ManufactureDate" class="form-control" />
                <span asp-validation-for="ManufactureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopType" class="control-label"></label>
                <select asp-for="TopType" class="form-control"></select>
                <span asp-validation-for="TopType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpenedStatus" class="control-label"></label>
                <select asp-for="OpenedStatus" class="form-control"></select>
                <span asp-validation-for="OpenedStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContainerSize" class="control-label"></label>
                <input asp-for="ContainerSize" class="form-control" />
                <span asp-validation-for="ContainerSize" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Circulated" /> @Html.DisplayNameFor(model => model.Circulated)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Instructional" /> @Html.DisplayNameFor(model => model.Instructional)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <input asp-for="Images" class="form-control" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
