@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a website for keeping track of beer cans via an SQL Database with ASP.NET MVC. You can create, edit, delete, and search through the database for existing beercans</p>
</div>